/* styles.css */

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General styles */
  body {
    background-color: #f1e9d3;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1, h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  /* Button styling */
  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #9b9127;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #67602f;
  }
  
  /* Score and choices */
  div {
    margin: 10px 0;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }


.buttons-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}


  .score-container {
    margin-top: 20px;
    text-align: center;
  }

  .scores {
    display: flex;
    justify-content: center;
    gap: 20px
  }

  .score-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .score-item p {
    margin: 5px 0;
  }
  
  